# dependency cache
node_modules
.cache

# build
build/
dist/
.netlify

# logs
npm-debug.log
yarn-error.log

# editor config
.idea
*.iml

# OS files
*.DS_Store

# Tern
.tern-port

#dotnet
.vs
obj
packages
bin